 .swiper-item {
    flex: 1;
    flex-direction: column;
  }
  .page-box {
	  flex: 1;
	  width: 100%;
  }
  .page-item {
	display: flex;
    flex: 1;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

